.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h1{height:1190.500000px;}
.h0{height:1190.551200px;}
.w0{width:841.889800px;}
.w1{width:842.000000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h1{height:1587.333333pt;}
.h0{height:1587.401600pt;}
.w0{width:1122.519733pt;}
.w1{width:1122.666667pt;}
.x0{left:0.000000pt;}
}
